﻿
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div>
        <h4><strong>Reports</strong></h4>
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Inventory Report", "Inventory", "Reports")
    </div>
    <br />
    <div class="row">
        @Html.ActionLink("Sales Report", "Sales", "Reports")
    </div>
</div>
