﻿@model GuildAutomotive.Models.InventoryReportViewModel
    @{
        ViewBag.Title = "Inventory";
    }
    <div class="container col-lg-6 col-sm-12">
        <h4><strong>Inventory Report</strong></h4>
        <br />
        <h5><strong>New Vehicles</strong></h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Count</th>
                    <th>Stock Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var car in Model.NewInventory)
                {
                    <tr>
                        <td>@car.ModelYear</td>
                        <td>@car.Make</td>
                        <td>@car.CarModel</td>
                        <td>@car.Stock</td>
                        <td>$@car.StockValue</td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <h5><strong>Used Vehicles</strong></h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Count</th>
                    <th>Stock Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model.UsedInventory)
                {
                    <tr>
                        <td>@car.ModelYear</td>
                        <td>@car.Make</td>
                        <td>@car.CarModel</td>
                        <td>@car.Stock</td>
                        <td>$@car.StockValue</td>
                    </tr>
                }
            </tbody>
        </table>


    </div>
