﻿@model GuildAutomotive.Models.SalesReportViewModel

@{
    ViewBag.Title = "Sales";
}


<div class="container">
    <h4><strong>Sales</strong></h4>
    <div class="row">
        <div class="col-lg-7 col-xs-12">
            <div class="well">
                <form id="salesFilters" class="form-inline">
                    <div class="row">
                        <h5><strong>Filters</strong></h5>
                    </div>
                    <div class="row form-group-sm">
                        <div class="form-group">
                            <label for="User">User</label>
                            @Html.DropDownListFor(m => m.AdminUser, Model.AdminUser, "ALL", new { @class = "form-control", id = "userId" })
                        </div>
                        <div class="form-group">
                            <label for="fromDate">From Date</label>
                            <input class="form-control" id="fromDate" type="datetime">
                        </div>
                        <div class="form-group">
                            <label for="toDate">To Date</label>
                            <input class="form-control" id="toDate" type="datetime">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <button id="btnSearch" class="btn btn-default btn-sm col-lg-3">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-6 col-xs-12">
        <h5><strong>Search Results</strong></h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Total Sales</th>
                    <th>Total Vehicles</th>
                </tr>
            </thead>
            <tbody id="searchResults">
                @foreach (var admin in Model.Sales)
            {
                    <tr>
                        <td>@admin.User</td>
                        <td>$@admin.TotalSales</td>
                        <td>@admin.NumberOfSales</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#salesFilters").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {
            var params;


            params = 'userId=' + $('#userId').val() + '&' + 'fromDate=' + $('#fromDate').val() + '&' + 'toDate=' + $('#toDate').val();

            $.ajax({
                type: 'Get',
                url: 'http://localhost:51913/api/reports/sales?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (index, sale) {
                        var html = '<tr><td>' + sale.User + '</td><td>$' + sale.TotalSales + '.00</td><td>' + sale.NumberOfSales + '</td></tr>';

                        $('#searchResults').append(html.toString());
                    });
                },
                error: function () {
                    alert: ('error')
                }


            });
        }
    </script>


}



