﻿@model GuildAuto.Models.Queries.ListingItem

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <h4><strong>Details</strong></h4>
    <div class="container well" style="background-color:white">
        <div class="row">
            <h5 style="text-indent:2%"><strong>@Model.ModelYear @Model.Make @Model.CarModel</strong></h5>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="img-wrapper">
                    <p><img class="center-block img-responsive img-rounded" src="@Url.Content("~/Images/" + Model.ImageFileName)" /></p>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="col-xs-12 row">
                    <div class="col-md-3">
                        <div class="col-xs-6 col-xs-pull-1">
                            <div class="row">
                                <h6 class="text-right"><strong>Body Style:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>Transmission:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>Color:</strong></h6>
                            </div>

                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <h6 class="text-left">@Model.BodyStyle</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.Transmission</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.ExteriorColor</h6>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="col-xs-6 col-xs-pull-1">
                            <div class="row">
                                <h6 class="text-right"><strong>Interior:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>Mileage:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>VIN #:</strong></h6>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <h6 class="text-left">@Model.InteriorColor</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.Mileage</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.VIN</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-xs-6 col-xs-pull-1">
                            <div class="row">
                                <h6 class="text-right"><strong>Sale Price:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>MSRP:</strong></h6>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <h6 class="text-left">$@Model.ListingPrice</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">$@Model.MSRP</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="col-xs-1">
                    <h6><strong>Description:</strong></h6>
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <h5 class="text-left">@Model.CarDescription</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-xs-12 col-xs-offset-9" id="contactButton">

        </div>
    </div>

</div>

@section Scripts
{
    <script>
        var soldMessage = "<h5><strong>Unavailable - SOLD!</h5></strong>"
        var contactUs = '<a class="btn btn-primary" href="/Home/Contact?VIN=' + '@Model.VIN.ToString()' +'">Contact Us</a>'
        var sold = @(Model.Sold.ToString().ToLower());


        $(document).ready(function () {
            checkIfSold();
        });


        function checkIfSold() {
            if(sold == true){
                $("#contactButton").append(soldMessage);
            }
            else{
                $("#contactButton").append(contactUs);
            }
        }
    </script>
    <script>
        @*var vin = @Model.VIN.ToString();

        $(function () {
            $('contactButton').on('click', function() {
                $.ajax({
                    type: 'POST', 
                    url: 'http://localhost:51913/Home/Contact'
                    data: JSON.stringify ({
                        vinNumber: vin
                    }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    },
                'dataType': 'json',
                success: 

                })
            })
        })*@
    </script>
}

