﻿@model GuildAutomotive.Models.AddUserViewModel
@{
    ViewBag.Title = "Add User";
}

<h2><strong>Add User</strong></h2>

@using (Html.BeginForm("AddUser", "Admin", FormMethod.Post, new { id = "addUserForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.FirstName)
                @Html.TextBoxFor(m => m.RegisterViewModel.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.LastName)
                @Html.TextBoxFor(m => m.RegisterViewModel.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Email)
                @Html.TextBoxFor(m => m.RegisterViewModel.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Roles</label>
                @Html.DropDownListFor(m => m.Role, Model.Roles, "", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.Password)
                @Html.PasswordFor(m => m.RegisterViewModel.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.RegisterViewModel.ConfirmPassword)
                @Html.PasswordFor(m => m.RegisterViewModel.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    </div>

    <div class="col-xs-1"></div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#addUserForm').validate({
            rules: {
                'RegisterViewModel.FirstName': {
                    required: true
                },
                'RegisterViewModel.LastName': {
                    required: true
                },
                'RegisterViewModel.Email': {
                    required: true,
                    email: true
                },
                'Role': {
                    required: true
                },
                'RegisterViewModel.ConfirmPassword': {
                    required: true,
                    minlength: 6,
                    equalTo: 'RegisterViewModel.Password'
                },
                'RegisterViewModel.Password': {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                'RegisterViewModel.FirstName': "First name is required",
                'RegisterViewModel.LastName': "Last name is required",
                'RegisterViewModel.Email': "Email address is required",
                'Role': "Role is required",
                'RegisterViewModel.Password': "Password is required",
                'RegisterViewModel.ConfirmPassword': {
                    required: "Password is required",
                    minlength: "Password must be at least 6 characters long, contain at least one uppercase letter and a number",
                    equalTo: "Passwords must match"
                }
            }
        })
    </script>
}
