﻿@model GuildAutomotive.Models.AddVehicleViewModel

@{
    ViewBag.Title = "AddVehicle";
}

<div class="continer">
    <h4><strong>Add Vehicle</strong></h4>
    @using (Html.BeginForm("AddVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "addVehicleForm" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ListingItem.CreationDate, DateTime.Now)
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="makes">Make</label>
                        @Html.DropDownListFor(m => m.ListingItem.MakeId, Model.Makes, "Make", new { @class = "form-control", id = "make" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="carModel">Model</label>
                        @Html.DropDownListFor(m => m.Vehicle.CarModelId, Model.CarModels, "Model", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="type">Type</label>
                        @Html.DropDownListFor(m => m.Vehicle.ConditionId, Model.Conditions, "Condition", new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="bodyStyle">BodyStyle</label>
                        @Html.DropDownListFor(m => m.Vehicle.BodyStyleId, Model.BodyStyles, "Body Style", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="year">Year</label>
                        @Html.TextBoxFor(m => m.Vehicle.ModelYear, new { @class = "form-control", Value = "" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="transmission">Transmission</label>
                        @Html.DropDownListFor(m => m.Vehicle.TransmissionId, Model.Transmissions, "Transmission", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="exteriorColor">Color</label>
                        @Html.DropDownListFor(m => m.Vehicle.ExteriorColorId, Model.ExteriorColors, "Color", new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="interiorColor">Interior</label>
                        @Html.DropDownListFor(m => m.Vehicle.InteriorColorId, Model.InteriorColors, "Interior", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        @Html.TextBoxFor(m => m.Vehicle.Mileage, new { @class = "form-control", Value = "" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="vin">VIN #</label>
                        @Html.TextBoxFor(m => m.Vehicle.VIN, new { @class = "form-control", Value = "" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="msrp">MSRP</label>
                        @Html.TextBoxFor(m => m.Vehicle.MSRP, new { @class = "form-control", Value = "" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="salePrice">Listing Price</label>
                        @Html.TextBoxFor(m => m.Vehicle.ListingPrice, new { @class = "form-control", Value = "" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        @Html.TextAreaFor(m => m.Vehicle.CarDescription, 10, 10, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label for="piture">Picture</label>
                        <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox form-group">
                        <label>
                            @Html.CheckBoxFor(m => m.Vehicle.Featured) Featured
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <button class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
        </div>
    }


    @section Scripts {
        <script>
            var dateNow = new Date();
            nextYear = dateNow.getFullYear() + 1

            $('#addVehicleForm').validate({
                rules: {
                    'ListingItem.MakeId': {
                        required: true
                    },
                    'Vehicle.ConditionId': {
                        required: true
                    },
                    'Vehicle.ModelYear': {
                        required: true,
                        min: 2000,
                        max: nextYear,
                        minlength: 4,
                        maxlength: 4

                    },
                    'Vehicle.ExteriorColorId': {
                        required: true
                    },
                    'Vehicle.Mileage': {
                        required: true
                    },
                    'Vehicle.CarModelId': {
                        required: true
                    },
                    'Vehicle.BodyStyleId': {
                        required: true
                    },
                    'Vehicle.TransmissionId': {
                        required: true
                    },
                    'Vehicle.InteriorColorId': {
                        required: true
                    },
                    'Vehicle.VIN': {
                        required: true
                    },
                    'Vehicle.ListingPrice': {
                        required: true,
                        digits: true
                    },
                    'Vehicle.CarDescription': {
                        required: true
                    },
                    'ImageUpload': {
                        required: true
                    },
                    'Vehicle.MSRP': {
                        required: true,
                        digits: true
                    }
                },
                messages: {
                    'ListingItem.MakeId': "Make is required",
                    'Vehicle.ConditionId': "Condition is required",
                    'Vehicle.ModelYear': {
                        required: "Model year is required",
                        min: "Vehicle must be older than 2000",
                        max: "Vehicle can be no newer than next year",
                        minlength: "Model year must be 4 digits",
                        maxlength: "Model year must be 4 digits"
                    },
                    'Vehicle.ExteriorColorId': "Exterior color is required",
                    'Vehicle.Mileage': "Mileage is required",
                    'Vehicle.CarModelId': "Model is required",
                    'Vehicle.BodyStyleId': "Body styel is required",
                    'Vehicle.TransmissionId': "Transmission is required",
                    'Vehicle.InteriorColorId': "Interior color is required",
                    'Vehicle.VIN': "VIN is required",
                    'Vehicle.ListingPrice': "Listing price is required",
                    'Vehicle.CarDescription': "Description is required",
                    'ImageUpload': "Image upload is required",
                    'Vehicle.MSRP': "MSRP is required"
                }
            });
        </script>
        <script>
            $(document).ready(function () {
                $("#make").change(function () {
                    getModels();
                });
            });

            function getModels() {

                var makeId = $('#make').val();


                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:51913/api/admin/models/' + makeId,
                    success: function (results) {
                        $('#Vehicle_CarModelId').empty();

                        $.each(results, function (index, model) {
                            var vehicle = model.CarModel;
                            var id = model.CarModelId;

                            $('#Vehicle_CarModelId').append('<option value=' + id + '>' + vehicle + '</option>');
                        });
                    }
                });
            }
        </script>



    }
