﻿@model GuildAutomotive.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<h4><strong>Edit User</strong></h4>

@using (Html.BeginForm("EditUser", "Admin", FormMethod.Post, new { id = "addUserForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.User.Id)
    @Html.HiddenFor(m => m.OldRole)

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.User.FirstName)
                @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.User.LastName)
                @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.User.Email)
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Roles</label>
                @Html.DropDownListFor(m => m.User.Role, Model.Roles, "", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Save" />
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $('#addUserForm').validate({
            rules: {
                'User.FirstName': {
                    required: true
                },
                'User.LastName': {
                    required: true
                },
                'User.Email': {
                    required: true,
                    email: true
                },
                'Role': {
                    required: true
                },
                'ConfirmPassword': {
                    minlength: 6,
                    equalTo: 'NewPasswordd'
                },
                'NewPassword': {
                    minlength: 6
                }
            },
            messages: {
                'User.FirstName': "First name is required",
                'User.LastName': "Last name is required",
                'User.Email': "Email address is required",
                'Role': "Role is required"
                }
            }
        })
</script>
}




