﻿@model GuildAutomotive.Models.EditVehicleViewModel

@{
    ViewBag.Title = "EditVehicle";
}

<div class="continer">
    <h4><strong>Edit Vehicle</strong></h4>
    @Html.ActionLink("Vehicles", "Vehicles", "Admin")
    @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "editVehicleForm" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.ListingItem.VehicleId)
        @Html.HiddenFor(m => m.DeleteImageFileName)
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="makes">Make</label>
                        @Html.DropDownListFor(m => m.ListingItem.MakeId, Model.Makes, "Make", new { @class = "form-control", id = "make" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="carModel">Model</label>
                        @Html.DropDownListFor(m => m.ListingItem.CarModelId, Model.CarModels, "Model", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="type">Type</label>
                        @Html.DropDownListFor(m => m.ListingItem.ConditionId, Model.Conditions, "Condition", new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="bodyStyle">BodyStyle</label>
                        @Html.DropDownListFor(m => m.ListingItem.BodyStyleId, Model.BodyStyles, "Body Style", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="year">Year</label>
                        @Html.TextBoxFor(m => m.ListingItem.ModelYear, new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="transmission">Transmission</label>
                        @Html.DropDownListFor(m => m.ListingItem.TransmissionId, Model.Transmissions, "Transmission", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="exteriorColor">Color</label>
                        @Html.DropDownListFor(m => m.ListingItem.ExteriorColorId, Model.ExteriorColors, "Color", new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="interiorColor">Interior</label>
                        @Html.DropDownListFor(m => m.ListingItem.InteriorColorId, Model.InteriorColors, "Interior", new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="mileage">Mileage</label>
                        @Html.TextBoxFor(m => m.ListingItem.Mileage, new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="vin">VIN #</label>
                        @Html.TextBoxFor(m => m.ListingItem.VIN, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="msrp">MSRP</label>
                        @Html.TextBoxFor(m => m.ListingItem.MSRP, new { @class = "form-control" })
                    </div>
                </div><div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label for="salePrice">Listing Price</label>
                        @Html.TextBoxFor(m => m.ListingItem.ListingPrice, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        @Html.TextAreaFor(m => m.ListingItem.CarDescription, 10, 10, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-12">
                    <div class="form-group">
                        <label for="piture">Picture</label>
                        <input id="ImageUpload" name="ImageUpload" type="file" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox form-group">
                        <label>
                            @Html.CheckBoxFor(m => m.ListingItem.Featured) Featured
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <button class="btn btn-default">Save</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#vehicleDelete').click(function () {
                return confirm('Are you sure you want to delete this vehicle?');
            });
        })

    </script>
<script>
            var dateNow = new Date();
            nextYear = dateNow.getFullYear() + 1

            $('#editVehicleForm').validate({
                rules: {
                    'ListingItem.MakeId': {
                        required: true
                    },
                    'ListingItem.ConditionId': {
                        required: true
                    },
                    'ListingItem.ModelYear': {
                        required: true,
                        min: 2000,
                        max: nextYear,
                        minlength: 4,
                        maxlength: 4

                    },
                    'ListingItem.ExteriorColorId': {
                        required: true
                    },
                    'ListingItem.Mileage': {
                        required: true
                    },
                    'ListingItem.CarModelId': {
                        required: true
                    },
                    'ListingItem.BodyStyleId': {
                        required: true
                    },
                    'ListingItem.TransmissionId': {
                        required: true
                    },
                    'ListingItem.InteriorColorId': {
                        required: true
                    },
                    'ListingItem.VIN': {
                        required: true
                    },
                    'ListingItem.ListingPrice': {
                        required: true,
                        digits: true
                    },
                    'ListingItem.CarDescription': {
                        required: true
                    },
                    'ListingItem.MSRP': {
                        required: true,
                        digits: true
                    }
                },
                messages: {
                    'ListingItem.MakeId': "Make is required",
                    'ListingItem.ConditionId': "Condition is required",
                    'ListingItem.ModelYear': {
                        required: "Model year is required",
                        min: "Vehicle must be older than 2000",
                        max: "Vehicle can be no newer than next year",
                        minlength: "Model year must be 4 digits",
                        maxlength: "Model year must be 4 digits"
                    },
                    'ListingItem.ExteriorColorId': "Exterior color is required",
                    'ListingItem.Mileage': "Mileage is required",
                    'ListingItem.CarModelId': "Model is required",
                    'ListingItem.BodyStyleId': "Body styel is required",
                    'ListingItem.TransmissionId': "Transmission is required",
                    'ListingItem.InteriorColorId': "Interior color is required",
                    'ListingItem.VIN': "VIN is required",
                    'ListingItem.ListingPrice': "Listing price is required",
                    'ListingItem.CarDescription': "Description is required",
                    'ListingItem.MSRP': "MSRP is required"
                }
            });
</script>
}
