﻿@model  GuildAutomotive.Models.AddMakeViewModel
@{
    ViewBag.Title = "Makes";
}

<div class="container">
    <h4><strong>Makes</strong></h4>
    @using (Html.BeginForm("Makes", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "addMakeForm" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="well">
            <div class="form-horizontal form-group">
                <div class="row">
                    <div class="col-lg-2 col-xs-12">
                        <h5><strong>New Make</strong></h5>
                    </div>
                    <div class="col-lg-4 col-lg-pull-1 col-xs-12">
                        <div class="col-lg-10 col-sm-12">
                            @Html.TextBoxFor(m => m.Make, new { @class = "form-control", @Value = ""})
                        </div>
                        
                    </div>
                    <div class="col-lg-1 col-lg-pull-2 col-sm-12">
                        <button class="btn btn-default">Save</button>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Make</th>
                        <th>Date Added</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var make in Model.Details)
                    {
                        var datetime = @make.DateAdded.ToShortDateString();
                        <tr>
                            <td>@make.Make</td>
                            <td>@datetime</td>
                            <td>@make.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    }
</div>
@section Scripts {
    <script>                     
            $('#addMakeForm').validate({
                rules: {
                    'Make': {
                        required: true
                    }
                },
                messages: {
                    'Make': "Make is required."
                }
            });
</script>
    }