﻿@model  GuildAutomotive.Models.AddModelViewModel
@{
    ViewBag.Title = "Models";
}

<div class="container">
    <h4><strong>Models</strong></h4>

    @using (Html.BeginForm("Models", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "addModelForm", @class = "form-inline" }))

    {
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="well">

            <div class="form-group col-lg-4 col-md-12 col-xs-12">
                @Html.Label("New Model")
                @Html.TextBoxFor(m => m.CarModel.CarModel, new { @class = "form-control", @Value = "" })
            </div>
            <div class="form-group col-lg-3 col-md-12 col-xs-12 row">
                @Html.Label("Make")
                @Html.DropDownListFor(m => m.CarModel.MakeId, Model.Makes, "", new { @class = "form-control", data_val_required = "Make is required" })
            </div>
            <button class="btn btn-default">Save</button>

        </div>
    }
    <div class="col-lg-6 col-xs-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Date Added</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var carModel in Model.Details)
                {
                    var datetime = @carModel.DateAdded.ToShortDateString();
                    <tr>
                        <td>@carModel.Make</td>
                        <td>@carModel.CarModel</td>
                        <td>@datetime</td>
                        <td>@carModel.Email</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
    {
    <script>
             $('#addModelForm').validate({
                rules: {
                    'CarModel.CarModel': {
                        required: true
                    },
                    'CarModel.MakeId': {
                        required: true
                    }
                },
                messages: {
                    'CarModel.CarModel': "Model is required.",
                    'CarModel.MakeId': "Make is required."
                }
            });
       
    </script>
}
