﻿@model GuildAutomotive.Models.SpecialViewModel
@{
    ViewBag.Title = "Specials";
}

<div class="container">
    <h4><strong>Specials</strong></h4>
    <div class="well">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @using (Html.BeginForm("Specials", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "addSpecial" }))
        {

            @Html.Label("Title")
            @Html.TextBoxFor(m => m.Special.Title, new { @class = "form-control", @Value = "", style = "width: 80%" })
            <br />
            @Html.Label("Description")
            @Html.TextAreaFor(m => m.Special.SpecialDescription, new { @class = "form-control", rows = 10, style = "width: 80%" })
            <br />
            <button class="btn btn-default">Save</button>
        }
    </div>

</div>
<div class="container">

    @foreach (var special in Model.SpecialList)
    {

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><strong>@special.Title</strong></h5>

                </div>
                <div class="panel-body">
                    <p>@special.SpecialDescription</p>
                    <div class="text-right">
                        @Html.ActionLink("Delete", "DeleteSpecial", "Admin", new { id = @special.SpecialId }, new { @class = "btn btn-danger", id = "specialDelete" })
                    </div>
                </div>


            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#specialDelete').click(function () {
                return confirm('Are you sure you want to delete this Special?');
            });
        })

    </script>
    <script>
        $('#addSpecial').validate({
            rules: {
                'Special.Title': {
                    required: true
                },
                'Special.SpecialDescription': {
                    required: true
                }
            },
            messages: {
                'Special.Title': "Title is required.",
                'Special.SpecialDescription': "Description is required."
            }
        });

    </script>
}