﻿@model IEnumerable<GuildAuto.Models.Tables.AdminUser>

@{
    ViewBag.Title = "Users";
}
<div class="container">
    <h4><strong>Users</strong></h4>
    @Html.ActionLink("Add a new User", "AddUser", "Admin")

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>@Html.ActionLink("edit", "EditUser", "Admin", new { id = @user.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

