﻿@model IEnumerable<GuildAuto.Models.Queries.ListingShortItem>

@{
    ViewBag.Title = "Vehicles";
}
<h4><strong>Admin</strong></h4>
@Html.ActionLink("Add New Vehicle", "AddVehicle", "Admin")
@Html.Partial("Search")
<div class="container" id="searchResults">
    @foreach (var car in Model)
    {
        <div class="container well" style="background-color:white">
            <div class="row">

                <h5 style="text-indent:2%"><strong>@car.ModelYear @car.Make @car.CarModel</strong></h5>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <div class="img-wrapper">
                        <p><img class="center-block img-responsive img-rounded" src="@Url.Content("~/Images/" + car.ImageFileName)" /></p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col-xs-6 col-xs-pull-1">
                        <div class="row">
                            <h6 class="text-right"><strong>Body Style:</strong></h6>
                        </div>
                        <div class="row">
                            <h6 class="text-right"><strong>Transmission:</strong></h6>
                        </div>
                        <div class="row">
                            <h6 class="text-right"><strong>Color:</strong></h6>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <h6 class="text-left">@car.BodyStyle</h6>
                        </div>
                        <div class="row">
                            <h6 class="text-left">@car.Transmission</h6>
                        </div>
                        <div class="row">
                            <h6 class="text-left">@car.ExteriorColor</h6>
                        </div>

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col-xs-6 col-xs-pull-1">
                        <div class="row">
                            <h6 class="text-right"><strong>Interior:</strong></h6>
                        </div>
                        <div class="row">
                            <h6 class="text-right"><strong>Mileage:</strong></h6>
                        </div>
                        <div class="row">
                            <h6 class="text-right"><strong>VIN #:</strong></h6>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <h6 class="text-left">@car.InteriorColor</h6>
                        </div>
                        <div class="row">
                            <h6 class="text-left">@car.Mileage</h6>
                        </div>
                        <div class="row">
                            <h6 class="text-left">@car.VIN</h6>
                        </div>

                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="col-xs-6 col-xs-pull-1">
                        <div class="row">
                            <h6 class="text-right"><strong>Sale Price:</strong></h6>
                        </div>
                        <div class="row">
                            <h6 class="text-right"><strong>MSRP:</strong></h6>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <h6 class="text-left">@car.ListingPrice</h6>
                        </div>
                        <div class="row">
                            <h6 class="text-left">@car.MSRP</h6>
                        </div>
                        <div class="row">
                            @Html.ActionLink("Edit", "EditVehicle", "Admin", new { id = @car.VehicleId }, new { @class = "btn btn-primary" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>
    $(document).ready(function () {
        $("#searchForm").submit(function (e) {
            search();
            return false;
        });
    });

    function search() {
        var params;
        var imagesPath = '@Url.Content("~/Images/")'
        var detailsPath = '@Url.Action("Edit", "Admin")/';


        params = 'minPrice=' + $('#minPrice').val() + '&' + 'maxPrice=' + $('#maxPrice').val() + '&'
                + 'minYear=' + $('#minYear').val() + '&' + 'maxYear=' + $('#maxYear').val() + '&'
                + 'searchBox=' + $('#searchBox').val();

        $.ajax({
        type: 'Get',
        url: 'http://localhost:51913/api/admin/vehicles?' + params,
        success: function(results) {
            $('#searchResults').empty();

            $.each(results, function(index, car) {
                var html = '<div class="container well" style="background-color:white">'
                    + '<div class="row"><h5 style="text-indent:2%"><strong>' + car.ModelYear + ' ' + car.Make + ' ' + car.CarModel + '</strong></h5></div>'
                    +'<div class="row"><div class="col-xs-2"><div class="img-wrapper">'
                    + '<p><img class="center-block img-responsive img-rounded" src=" ' + imagesPath + car.ImageFileName + '" /></p></div></div>'
                    +'<div class="col-xs-3"><div class="col-xs-6 col-xs-pull-1"><div class="row">'
                    +'<h6 class="text-right"><strong>Body Style:</strong></h6></div><div class="row">'
                    +'<h6 class="text-right"><strong>Transmission:</strong></h6></div>'
                    +'<div class="row"><h6 class="text-right"><strong>Color:</strong></h6></div></div>'
                    +'<div class="col-xs-6"><div class="row"><h6 class="text-left">' + car.BodyStyle +'</h6></div>'
                    +'<div class="row"><h6 class="text-left">' + car.Transmission + '</h6></div>'
                    +'<div class="row"><h6 class="text-left">' + car.ExteriorColor + '</h6></div></div></div>'
                    +'<div class="col-xs-3"><div class="col-xs-6 col-xs-pull-1">'
                    +'<div class="row"><h6 class="text-right"><strong>Interior:</strong></h6></div>'
                    +'<div class="row"><h6 class="text-right"><strong>Mileage:</strong></h6></div>'
                    +'<div class="row"><h6 class="text-right"><strong>VIN #:</strong></h6></div></div>'
                    +'<div class="col-xs-6"><div class="row"><h6 class="text-left">' +car.InteriorColor + '</h6></div>'
                    +'<div class="row"><h6 class="text-left">' + car.Mileage + '</h6></div>'
                    +'<div class="row"><h6 class="text-left">' + car.VIN + '</h6></div></div></div>'
                    +'<div class="col-xs-3"><div class="col-xs-6 col-xs-pull-1">'
                    +'<div class="row"><h6 class="text-right"><strong>Sale Price:</strong></h6></div>'
                    +'<div class="row"><h6 class="text-right"><strong>MSRP:</strong></h6></div></div>'
                    +'<div class="col-xs-6"><div class="row"><h6 class="text-left">$' + car.ListingPrice + '</h6></div>'
                    +'<div class="row"><h6 class="text-left">$' + car.MSRP + '</h6></div>'
                    +'<div class="row"><a href = "' + detailsPath + car.VehicleId + '" class="btn btn-success role="button">Edit</a></div></div></div></div></div>';

                $('#searchResults').append(html.toString());
            });
        },
        error:function() {
            alert:('error')
        }
        });
    }
    </script>


}



