﻿@model GuildAuto.Models.Tables.Contacts

@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid">
    <h3><Strong>Contact Us</Strong></h3>
    <br />
    <div class="col-md-6 col-sm-12">
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "contactForm" }))
        {

            @Html.ValidationSummary()
            <div class="form-group">
                <div class="col-md-10 col-xs-12">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control", id = "name" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-xs-12">
                    <label>Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control contactInfo", id = "email" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-xs-12">
                    <label>Phone</label>
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control contactInfo", id = "phone" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-xs-12">
                    <label for="message">Message</label>
                    @Html.TextAreaFor(m => m.ContactMessage, new { @class = "form-control", rows = "10", id = "message", @Value = Request.QueryString  })
                </div>
            </div>
            <div class="col-md-10 col-xs-12">
                <br />
                <button type="submit" id="contactSubmit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>
    <div class="col-md-6 col-sm-12">
        <br />
        <div id="map"></div>
        <br />
        <h5><strong>4120 W Colfax Ave</strong></h5>
        <h5><strong>Denver, CO 80204</strong></h5>
        <br />
        <h5><strong>Sales: 720-555-4432</strong></h5>
        <h5><strong>Service: 720-555-4433</strong></h5>
    </div>
</div>


@section Scripts
{
    <script>
        function initMap() {
            var uluru = { lat: 39.7401087, lng: -105.0409235 };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAI73pegkXS2wd4_2A_J_qoBIIoy10JTs&callback=initMap">
    </script>
    <script>
        $(document).ready(function () {
            $("#contactForm").validate({
                rules: {
                    ContactName: {
                        required: true
                    },
                    Email: {
                        require_from_group: [1, ".contactInfo"]
                    },
                    Phone: {
                        require_from_group: [1, ".contactInfo"]
                    },
                    ContactMessage: {
                        required: true
                    }
                },
                messages: {
                    ContactName: "Please provide a name.",
                    Email: "Please provide a phone number or email address.",
                    ContactMessage: "Please tell us a bit about why you are contacting us.",
                    Phone: ""
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
}
