﻿@model GuildAutomotive.Models.HomePageViewModel

@{
    ViewBag.Title = "Guild Automotive";
}

<div class="container">
    <div id="myCarousel" class="carousel slide">
        <a href="@Url.Action("Specials", "Home")">
            <div class="carousel-inner">
                @{ 
                    var count = 2;
                }
                @foreach (var special in Model.Specials)
            {
                if (special.SpecialId == 1)
                {
                        <div class="item active">
                            <img class="img-rounded img-responsive" src="~/Images/road1.jpg">
                            <div class="container">
                                <div class="carousel-caption d-none d-md-block">
                                    <h3>@special.Title</h3>
                                    <p class="hidden-xs">@special.SpecialDescription</p>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            @{
                                if(count==4)
                                {
                                    count = 1;
                                }
                                if (count == 1)
                                {
                                    <img class="img-rounded img-responsive" src="~/Images/road1.jpg">
                                }
                                if (count == 2)
                                {
                                    <img class="img-rounded img-responsive" src="~/Images/road2.jpg">
                                }
                                if (count == 3)
                                {
                                    <img class="img-rounded img-responsive" src="~/Images/road3.jpg">
                                }
                                count++;
                            }
                            
                            <div class="container">
                                <div class="carousel-caption">
                                    <h3>@special.Title</h3>
                                    <p class="hidden-xs">@special.SpecialDescription</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </a>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>

    </div>
</div>


<div class="container">
    <h4><strong>Featured Vehicles</strong></h4>
    <div class="col-xs-12">
        @foreach (var car in Model.FeaturedVehicles)
        {
            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="img-wrapper">

                    <a href="@Url.Action("Details", "Inventory", new { id = @car.VehicleId })">
                        <img class="center-block img-responsive img-rounded" src="@Url.Content("~/Images/" + car.ImageFileName)" , alt="Details" />
                    </a>

                </div>
                <p class="text-center"><strong>@car.ModelYear @car.Make @car.CarModel </strong></p>
                <p class="text-center"><strong>$@car.ListingPrice</strong></p>
            </div>
        }
    </div>
</div>

