﻿@model List<GuildAuto.Models.Tables.Specials>

@{
    ViewBag.Title = "Specials";
}

<div>
    <h4><strong>Specials</strong></h4>


    @foreach (var special in Model)
    {
        <div class="panel-group">
            <div class="panel panel-default">
                @*<div class="col-lg-4">
                        <img class="img-rounded img-responsive" src="~/Images/money.jpg">
                    </div>*@
                @*<div class="col-lg-8">*@
                <div class="panel-heading">
                    <h5><strong>@special.Title</strong></h5>
                </div>
                <div class="panel-body">
                    <p>@special.SpecialDescription</p>
                </div>

            </div>
        </div>
    }
</div>

