﻿@model GuildAutomotive.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h4><strong>@ViewBag.Title</strong></h4>


    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-4 col-xs-10">
                <div class="form-group">
                    <label>Old Password</label>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Change password" class="btn btn-default" />
                </div>
            </div>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
