﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h3 class="text-danger">Locked out.</h3>
    <h4 class="text-danger">This account has been locked out, please contact your administrator.</h4>
</hgroup>
