﻿
@{
    ViewBag.Title = "Search";
}

<div class="container well">
    <div class="row">
        <div class="col-lg-2 col-lg-offset-1">
            <h5><strong>Quick Search</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form id="searchForm" class="form-inline">
                <div class="row">
                    <div class="form-group col-xs-3 col-xs-offset-1 ">
                        <label class="sr-only" for="searchInput">Search Text</label>
                        <input class="form-control" id="searchBox" placeholder="Enter make or model">
                    </div>
                    <div class="col-xs-3">
                        <div class="col-xs-2">
                            <h5><strong>Price</strong></h5>
                        </div>
                        <div class="form-group col-xs-5">
                            <select class="form-control" id="minPrice">
                                <option selected="">No Min</option>
                                <option value="5000">$5000</option>
                                <option value="7500">$7500</option>
                                <option value="10000">$10000</option>
                                <option value="15000">$15000</option>
                                <option value="20000">$20000</option>
                                <option value="25000">$25000</option>
                                <option value="30000">$30000</option>
                                <option value="40000">$40000</option>
                                <option value="50000">$50000</option>
                            </select>
                        </div>

                        <div class="form-group col-xs-5">
                            <select class="form-control" id="maxPrice">
                                <option selected="">No Max</option>
                                <option value="5000">$5000</option>
                                <option value="7500">$7500</option>
                                <option value="10000">$10000</option>
                                <option value="15000">$15000</option>
                                <option value="20000">$20000</option>
                                <option value="25000">$25000</option>
                                <option value="30000">$30000</option>
                                <option value="40000">$40000</option>
                                <option value="50000">$50000</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="col-xs-2">
                            <h5><strong>Year</strong></h5>
                        </div>
                        <div class="form-group col-xs-5">
                            <select class="form-control" id="minYear">
                                <option selected="">No Min</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>

                            </select>
                        </div>

                        <div class="form-group col-xs-5">
                            <select class="form-control" id="maxYear">
                                <option selected="">No Max</option>
                                <option value="2000">2000</option>
                                <option value="2001">2001</option>
                                <option value="2002">2002</option>
                                <option value="2003">2003</option>
                                <option value="2004">2004</option>
                                <option value="2005">2005</option>
                                <option value="2006">2006</option>
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12 col-lg-offset-5">
                        <button id="btnSearch" class="btn btn-default">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
