﻿@model Exercises.Models.ViewModels.StudentVM
@{
    ViewBag.Title = "EditStudent";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Student</h3>
                <div class="row">
                    @using (Html.BeginForm("EditStudent", "Student", FormMethod.Post, new { id = "personForm" }))
                    {
                        @Html.ValidationSummary()
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Personal Details</h4>
                                </div>
                                <div class="panel-body">
                                    @Html.HiddenFor(m=>m.Student.StudentId)
                                    <div class="form-group">
                                        <label>First Name:</label>
                                        @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control", placeholder="FirstName" })
                                    </div>
                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control", placeholder="LastName" })
                                    </div>
                                    <div class="form-group">
                                        <label>Street Address:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.Street1, new { @class = "form-control", placeholder="StreetAddress"})
                                    </div>
                                    <div class="form-group">
                                        <label>City:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.City, new { @class = "form-control", placeholder = "City" })
                                      </div>
                                    <div class="form-group">
                                         <label>State:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.State.StateAbbreviation, new { @class = "form-control", placeholder = "State (Abbreviation)" })
                                    </div>
                                    <div class="form-group">
                                        <label>Postal Code:</label>
                                        @Html.TextBoxFor(m => m.Student.Address.PostalCode, new { @class = "form-control", placeholder = "Post Code" })
                                    </div>
                                    <div class="form-group">
                                        <label>Major:</label>
                                        @Html.DropDownListFor(m => m.Student.Major.MajorId, Model.MajorItems, "-Choose One-", new { @class = "form-control" , placeholder="Major"})
                                    </div>
                                    <div class="form-group">
                                        <label>GPA:</label>
                                        @Html.TextBoxFor(m => m.Student.GPA, new { @class = "form-control", placeholder="GPA" })
                                    </div>
                                    <h4>Courses</h4>
                                    <div class="form-group">
                                        @Html.ListBoxFor(m => m.SelectedCourseIds, Model.CourseItems, new { @class = "form-control" })
                                    </div>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#personForm').validate({
                rules: {
                    'Student.FirstName': {
                        required: true
                    },
                    'Student.LastName': {
                        required: true
                    },
                    'Student.Major.MajorID': {
                        required: true
                    }

                }
            });
        });
    </script>
}

