﻿@model Exercises.Models.Data.Course
@{
    ViewBag.Title = "AddCourse";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Course</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("AddCourse", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                <label>Course</label>
                @Html.TextBoxFor(m=>m.CourseName, new {@class = "form-control", placeholder = "CourseName"})
            </div>
            @Html.ActionLink("Cancel", "Courses", "Admin", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary">Save</button>

        }
    </div>
</div>
