﻿@model Exercises.Models.ViewModels.AddStateViewModel
@{
    ViewBag.Title = "AddState";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>        
        @Html.ActionLink("Return to States", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @Html.ValidationSummary()
        @using (Html.BeginForm("AddState", "Admin", FormMethod.Post))
        {
            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(m=>m.StateName, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>State Abreviation</label>
                @Html.TextBoxFor(m=>m.StateAbbreviation, new { @class = "form-control"})
            </div>
            @Html.ActionLink("Cancel", "States", "Admin", null, new { @class = "btn btn-default" })
            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>

