﻿@model List<Exercises.Models.Data.Course>
@{
    ViewBag.Title = "Courses";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Courses</h3>
        @Html.ActionLink("Add Course", "AddCourse", "Admin", null, new { @class="btn btn-primary"})
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped" style="width:auto;">
            <thead>
                <tr>
                    <th>Course</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var course in Model)
                {
                    <tr>
                        <td>@course.CourseName</td>
                        <td>@Html.ActionLink("Edit", "EditCourse", "Admin", new { id = course.CourseId }, new { @class="btn btn-info"})</td>
                        <td>
                            @using (Html.BeginForm("DeleteCourse", "Admin", new { id = course.CourseId }, FormMethod.Post))
                            {
                                <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @course.CourseName?');">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>