﻿@model Exercises.Models.Data.State
@{
    ViewBag.Title = "EditState";
}


<div class="row">
    <div class="col-xs-12">
        <h3>Edit State</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m=>m.StateAbbreviation)
            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State" })
            </div>
            @Html.ActionLink("Cancel", "States", "Admin", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>


