﻿@model Exercises.Models.Data.Course
@{
    ViewBag.Title = "EditCourse";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Edit Course</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.CourseId)
            <div class="form-group">
                <label>State</label>
                @Html.TextBoxFor(m => m.CourseName, new { @class = "form-control", placeholder = "Course" })
            </div>
            @Html.ActionLink("Cancel", "Courses", "Admin", null, new { @class = "btn btn-default" })
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>



