﻿@model GuildAutomotive.Models.PurchaseViewModel

@{
    ViewBag.Title = "Purchase";
}

<div class="container">
    <h4><strong>Purchase Vehicle</strong></h4>
    <div class="container well col-xs-12" style="background-color:white">
        <div class="row">
            <h5 style="text-indent:2%"><strong>@Model.ListingItem.ModelYear @Model.ListingItem.Make @Model.ListingItem.CarModel</strong></h5>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-12">
                <div class="img-wrapper">
                    <p><img class="center-block img-responsive img-rounded" src="@Url.Content("~/Images/" + Model.ListingItem.ImageFileName)" /></p>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12">
                <div class="col-xs-12 row">
                    <div class="col-md-3">
                        <div class="col-xs-6 col-xs-pull-1">
                            <div class="row">
                                <h6 class="text-right"><strong>Body Style:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>Transmission:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>Color:</strong></h6>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.BodyStyle</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.Transmission</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.ExteriorColor</h6>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="col-xs-6 col-xs-pull-1">
                            <div class="row">
                                <h6 class="text-right"><strong>Interior:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>Mileage:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>VIN #:</strong></h6>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.InteriorColor</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.Mileage</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.VIN</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-xs-6 col-xs-pull-1">
                            <div class="row">
                                <h6 class="text-right"><strong>Sale Price:</strong></h6>
                            </div>
                            <div class="row">
                                <h6 class="text-right"><strong>MSRP:</strong></h6>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.ListingPrice</h6>
                            </div>
                            <div class="row">
                                <h6 class="text-left">@Model.ListingItem.MSRP</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-xs-12">
                <div class="col-xs-1">
                    <h6><strong>Description:</strong></h6>
                </div>
                <div class="col-xs-11">
                    <div class="col-xs-12">
                        <h6 class="text-left">@Model.ListingItem.CarDescription</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <h4><strong>Sales Information</strong></h4>
    @using (Html.BeginForm("Purchase", "Sales", FormMethod.Post, new { enctype = "multipart/form-data", id = "salesForm" }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-4 col-sm-10">
                <lable><strong>Name</strong></lable>
                @Html.TextBoxFor(m => m.PurchaseInfo.BuyerName, new { @class = "form-control", id = "name" })
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-md-4 col-sm-10">
                <lable><strong>Phone</strong></lable>
                @Html.TextBoxFor(m => m.PurchaseInfo.Phone, new { @class = "form-control contactInfo", id = "phone" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-sm-10">
                <label>Email</label>
                @Html.TextBoxFor(m => m.PurchaseInfo.Email, new { @class = "form-control contactInfo", id = "email" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-sm-10">
                <label>Street 1</label>
                @Html.TextBoxFor(m => m.PurchaseInfo.Street1, new { @class = "form-control", id = "street1" })
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-md-4 col-sm-10">
                <label>Street 2</label>
                @Html.TextBoxFor(m => m.PurchaseInfo.Street2, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-sm-10">
                <label>City</label>
                @Html.TextBoxFor(m => m.PurchaseInfo.City, new { @class = "form-control" })
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-md-4 col-sm-10">
                <label>State</label>
                @Html.DropDownListFor(m => m.PurchaseInfo.StateId, Model.States, "", new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-sm-10">
                <label>Zip Code</label>
                @Html.TextBoxFor(m => m.PurchaseInfo.ZipCode, new { @class = "form-control", Value = "" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-group col-md-4 col-sm-10">
                <label>Purchase Price</label>
                @Html.TextBoxFor(m => m.PurchaseInfo.SalePrice, new { @class = "form-control", Value = "" })
            </div>
            <div class="col-sm-1"></div>
            <div class="form-group col-md-4 col-sm-10">
                <label>Purchase Type</label>
                @Html.DropDownListFor(m => m.PurchaseInfo.PurchaseTypeId, Model.PurchaseTypes, "", new { @class = "form-control"})
            </div>
            @Html.HiddenFor(m => m.ListingItem.VehicleId, Model.ListingItem.VehicleId)
            @Html.HiddenFor(m => m.ListingItem.MSRP, Model.ListingItem.MSRP)
            <br />

        </div>
        <div class="form-group col-md-4 col-sm-10">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    }
</div>

@section Scripts
                        {
    <script>
        $("#salesForm").validate({
            rules: {
                'PurchaseInfo.BuyerName': {
                    required: true
                },
                'PurchaseInfo.Phone': {
                    required: true,
                    require_from_group: [1, '.contactInfo'],
                    phoneUs: true
                },
                'PurchaseInfo.Email': {
                    required: true,
                    require_from_group: [1, '.contactInfo'],
                    email: true
                },
                'PurchaseInfo.City': {
                    required: true
                },
                'PurchaseInfo.Street1': {
                    required: true
                },
                'PurchaseInfo.StateId': {
                    required: true
                },
                'PurchaseInfo.ZipCode': {
                    required: true,
                    digits: true
                },
                'PurchaseInfo.SalePrice': {
                    required: true,
                    digits: true
                },
                'PurchaseInfo.PurchaseTypeId': {
                    required: true
                }

            },
            messages: {
                'PurchaseInfo.BuyerName': "Name is required",
                'PurchaseInfo.Email': "Phone number or email address is required",
                'PurchaseInfo.Phone': "Phone number or email address is required",
                'PurchaseInfo.City': "City is required",
                'PurchaseInfo.ZipCode': "Zip code is required",
                'PurchaseInfo.Street1': "Street address is required",
                'PurchaseInfo.SalePrice': "Sale price is required",
                'PurchaseInfo.PurchaseTypeId': "Purchase type is required",
                'PurchaseInfo.StateId': "State is required"
            },
            groups: {
                contactInfo: "PurchaseInfo.Email, PurchaseInfo.Phone"
            },
            submitHandler: function (form) {
                form.submit();
            }
        });

    </script>

}
